## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
results_with_mouse_data = pd.merge(mouse_metadata, study_results, on = "Mouse ID")
results_with_mouse_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
# Checking the number of mice in the DataFrame.
mouse_count = len(results_with_mouse_data["Mouse ID"].unique())
mouse_count

249

In [14]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.  

dup_mice = results_with_mouse_data[results_with_mouse_data.duplicated(["Mouse ID", "Timepoint"])]
dup_mice

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [15]:
# Optional: Get all the data for the duplicate mouse ID. 
dup_mice_data = results_with_mouse_data.loc[results_with_mouse_data["Mouse ID"] == "g989"]
dup_mice_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [16]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_results = results_with_mouse_data.loc[results_with_mouse_data["Mouse ID"] != "g989"]
clean_results

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [17]:
# Checking the number of mice in the clean DataFrame.
clean_mouse_count = len(clean_results["Mouse ID"].unique())
clean_mouse_count

248

## Summary Statistics

In [22]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# This method is the most straightforward, creating multiple series and putting them all together at the end.
#identify all of the drug regimens
drugs = clean_results["Drug Regimen"].unique()
drugs
# #create empty lists to store data
# tumor_mean = []
# tumor_median = []
# tumor_var = []
# tumor_std_dev = []
# tumor_sem = []

# for drug in drugs

array(['Ramicane', 'Capomulin', 'Infubinol', 'Placebo', 'Ceftamin',
       'Stelasyn', 'Zoniferol', 'Ketapril', 'Propriva', 'Naftisol'],
      dtype=object)

In [41]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# This method produces everything in a single groupby function.


drugs_grouped = clean_results.groupby(["Drug Regimen"])

summary_stats_df = pd.DataFrame({"Tumor_Mean": drugs_grouped["Tumor Volume (mm3)"].mean(),
                                 "Tumor_Median": drugs_grouped["Tumor Volume (mm3)"].median(),
                                 "Tumor_Variance": drugs_grouped["Tumor Volume (mm3)"].var(),
                                 "Tumor_Std_Deviation": drugs_grouped["Tumor Volume (mm3)"].std(),
                                 
                                })
summary_stats_df

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## Bar Plots

In [ ]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pandas.
timepoints = results_with_mouse_data["Timepoint"].unique()

time_grouped = results_with_mouse_data.groupby(["Timepoint"])
timepoint_mousecount = time_grouped["Mouse ID"].count()
time_mouse_df = pd.DataFrame({"Timepoint": [timepoints], "Number of Mice": [timepoint_mousecount]})
time_mouse_df

In [ ]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pyplot.

plt.bar(timepoints,timepoint_mousecount)
plt.xlabel("Timepoint")
plt.ylabel("Number of Mice")
plt.title("Number of Mice per Timepoint")
plt.show

## Pie Plots

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen